{% extends 'base.html' %}



{% block content %}
    {% include 'partial/simple_search.html' %}
    <div class=".bg-light">
        <h1 class="main_title">Задачи</h1>

        {% for issue in issues %}
            <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">
                  <span><a href="{% url 'issue_view' issue.pk %}">{{ issue.summary }}</a></span>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    <p class="card-text">Статус : {{ issue.status }}</p>
              </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}