{% extends 'base.html' %}


{% block menu %}
    {% if perms.tracker_app.change_issue and request.user in issue.project.user.all %}
    <li><a href="{% url 'tracker:issue_update' issue.id %}">Update issue</a></li>
    {% endif %}
    {% if perms.tracker_app.delete_issue and request.user in issue.project.user.all %}
    <li><a href="{% url 'tracker:issue_delete' issue.id %}">Delete issue</a></li>
    {% endif %}


    {% if perms.tracker_app.create_issue and request.user in issue.project.user.all %}
    <li><a href="{% url 'tracker:issue_create' issue.project.pk %}">Create issue</a></li>
    {% endif %}

{% endblock menu %}

{% block title %}{{ issue.issue }}{% endblock %}



<{% block content %}



<div class="guest_card card border-dark mt-5" style="max-width: 18rem;">
      <div class="card-header">
          <span>{{ issue.summary }}</span>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
            {% if issue.description %}
                <p class="card-text">Описание : {{ issue.description }}</p>
            {% else %}
                <p class="card-text">Описание не указано</p>
            {% endif %}
                <p class="card-text">Статус : {{ issue.status }}</p>
                <p>Types: {% for type in issue.type.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      </div>
</div>
{% endblock %}

